body{
    text-align:left;
    font-weight: bold;
    font-size: large;
}

.alap{
    background-color: rgba(234, 197, 153, 0.90);
}



.piros_fekete_puma{
    float: left;
}

.lebegés_szövege{
    width: 70%;
    margin: auto;
}

.lebegés_kép{
    float: left;
}
 .kép{
    float: left;
    width: 250px;
    margin-right: 20px;
 }
 
.c-item{
    height: 500px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

a:active{

  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

  a:hover {
  color:black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

